In [36]:
import sqlite3

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

In [37]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')
cur = conn.cursor()

In [38]:
# Every sqlite database has an sqlite_master table with data about the schema

In [15]:
# How many tables are in the database?

cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]

In [39]:
# We can use the PRAGMA command to find more information about each table
# From the output below, figure out how to identify the primary key of a table?
cur.execute("PRAGMA table_info(Customer)")
info = cur.fetchall()
print(*info, sep = "\n")

(0, 'CustomerId', 'INTEGER', 1, None, 1)
(1, 'FirstName', 'NVARCHAR(40)', 1, None, 0)
(2, 'LastName', 'NVARCHAR(20)', 1, None, 0)
(3, 'Company', 'NVARCHAR(80)', 0, None, 0)
(4, 'Address', 'NVARCHAR(70)', 0, None, 0)
(5, 'City', 'NVARCHAR(40)', 0, None, 0)
(6, 'State', 'NVARCHAR(40)', 0, None, 0)
(7, 'Country', 'NVARCHAR(40)', 0, None, 0)
(8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0)
(9, 'Phone', 'NVARCHAR(24)', 0, None, 0)
(10, 'Fax', 'NVARCHAR(24)', 0, None, 0)
(11, 'Email', 'NVARCHAR(60)', 1, None, 0)
(12, 'SupportRepId', 'INTEGER', 0, None, 0)

In [8]:
# What foreign keys join the tables together?
 
# your code here
# hint: use "PRAGMA foreign_key_list()"

Thank you https://github.com/LucasMcL/15-sql_queries_02-chinook
    for these questions

In [7]:
# Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.

In [6]:
# Provide a query only showing the Customers from Brazil.

In [5]:
# Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer's full name, Invoice ID, Date of the invoice and billing country.

In [3]:
# Provide a query showing only the Employees who are Sales Agents.

In [ ]:
# Provide a query showing a unique list of billing countries from the Invoice table.

In [ ]:
# Provide a query showing the invoices of customers who are from Brazil.

In [ ]:
# Provide a query that shows the invoices associated with each sales agent. The resultant table should include the Sales Agent's full name.